#map {
    max-width: 1000px;
    width: 100%;
    z-index: 1;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    display: block;
}

#map_svg {
    filter: drop-shadow(0px 0px 15px rgb(69, 69, 69));

}

path {
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

path:hover {
    fill: rgba(255, 255, 255, 0.107);
    stroke: rgba(255, 255, 255, 0.221);
    stroke-width: 1px;
}

text {
    fill: white;
    cursor: pointer;
}

text.kyiv {
    font: 8px sans-serif;
}