.background {
    background-color: #000;
    overflow: hidden;
}

.background div {
    position: absolute;
    width: .001vmin;
    height: .001vmin;
    border-radius: 50%;
    opacity: .45;
}

.background div:nth-child(2) {
    -webkit-box-shadow: 0 0 45vmax 45vmax #555;
    box-shadow: 0 0 45vmax 45vmax #555;
    -webkit-animation: hue 20s 0s linear infinite, move1 9s 0s linear infinite;
    animation: hue 20s 0s linear infinite, move1 9s 0s linear infinite;
}

.background div:nth-child(3) {
    -webkit-box-shadow: 0 0 45vmax 45vmax #333;
    box-shadow: 0 0 45vmax 45vmax #333;
    -webkit-animation: hue 35s 0s linear infinite, move2 25s 0s linear infinite;
    animation: hue 35s 0s linear infinite, move2 25s 0s linear infinite;
}

.background div:nth-child(4) {
    -webkit-box-shadow: 0 0 45vmax 45vmax #666;
    box-shadow: 0 0 45vmax 45vmax #666;
    -webkit-animation: hue 50s 0s linear infinite, move3 15s 0s linear infinite;
    animation: hue 50s 0s linear infinite, move3 15s 0s linear infinite;
    opacity: .2;
}



@-webkit-keyframes hue {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }

    100% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes hue {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }

    100% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@-webkit-keyframes move1 {
    0% {
        top: 0vh;
        left: 50vw;
    }

    25% {
        left: 0vw;
    }

    50% {
        top: 100vh;
    }

    75% {
        left: 100vw;
    }

    100% {
        top: 0vh;
        left: 50vw;
    }
}

@keyframes move1 {
    0% {
        top: 0vh;
        left: 50vw;
    }

    25% {
        left: 0vw;
    }

    50% {
        top: 100vh;
    }

    75% {
        left: 100vw;
    }

    100% {
        top: 0vh;
        left: 50vw;
    }
}

@-webkit-keyframes move2 {
    0% {
        top: 50vh;
        left: 100vw;
    }

    25% {
        top: 100vh;
    }

    50% {
        left: 0vw;
    }

    75% {
        top: 0vh;
    }

    100% {
        top: 50vh;
        left: 100vw;
    }
}

@keyframes move2 {
    0% {
        top: 50vh;
        left: 100vw;
    }

    25% {
        top: 100vh;
    }

    50% {
        left: 0vw;
    }

    75% {
        top: 0vh;
    }

    100% {
        top: 50vh;
        left: 100vw;
    }
}

@-webkit-keyframes move3 {
    0% {
        top: 100vh;
        left: 50vw;
    }

    25% {
        left: 100vw;
    }

    50% {
        top: 0vh;
    }

    75% {
        left: 0vw;
    }

    100% {
        top: 100vh;
        left: 50vw;
    }
}

@keyframes move3 {
    0% {
        top: 100vh;
        left: 50vw;
    }

    25% {
        left: 100vw;
    }

    50% {
        top: 0vh;
    }

    75% {
        left: 0vw;
    }

    100% {
        top: 100vh;
        left: 50vw;
    }
}